.shop {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
.mainText {
  font-family: "Gilroy Medium";
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 27.5px;
  color: #C04728;
  height: max-content;
}
