@import "../../../styles/index";

.shop {
  @extend %column-flex;
  margin: 0 15px;
}
.mainText {
  @extend %extend-font-medium;
  @include size-font(32px, 27.5px);
  color: $color-primary;
  height: max-content;
}
