@import "../../../styles/index";


.HighPage {
  @extend %column-flex;
  position: relative;
}

.image {
  margin: 0 auto;
  display: flex;
  align-self: center;
}

.name {
  @extend %extend-font-medium;
  @include size-font(45px, 45px);
  color: $color-primary;
  margin: 0 auto;
  max-width: calc(100% - 32px);
  text-align: right;
  height: 106px;
  padding: 0 0 35px 0;
}

.nameTransfer {
  @extend %extend-font-medium;
  @include size-font(43px, 45px);
  float: right;
  padding: 0 0 0 12px;
  width: 100%;
}

.container {
  display: flex;
  max-width: max-content;
  align-self: flex-end;
  margin: 0 15px 0 0;
}

.about {
  @extend %extend-font-medium;
  color: $color-primary;
}

.description {
  margin: 100px 20px 0;
}

.heading {
  @extend %column-flex;
  margin: 0 0 37px;

}

.additionally {
  @extend %column-flex;
  @extend %extend-font-medium;
  @include size-font(16px, 25px);
  gap: 40px;
  color: $color-primary
}

.main {
  @extend %extend-font-medium;
  @include size-font(32px, 27.5px);
  color: $color-primary;
}

.extension {
  @extend %extend-font-medium;
  @include size-font(32px, 27.5px);
  margin: 7px 0 0 0;
  align-self: flex-end;
  color: $color-primary;
}

.extensionBlueColor {
  color: $color-success;
}
