@import "../../../styles/index";


.heading {
  @extend %extend-font-medium;
  @include size-font(20px, 40px);
  color: $color-secondary;
  padding: 75px 0 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.follow {
  display: flex;
}

.input {
  @extend %basic-input;
  @extend %extend-font-medium;
  @include size-font(16px, 22px);
  color: $color-secondary;
  border-bottom: 1px solid $color-secondary;
  padding: 0 0 10px 0;
  display: block;
  width: calc(100% - 100px);
  margin: 0 0 0 24px;

  &::placeholder {
    color: $color-secondary;
    @extend %extend-font-medium;
    @include size-font(16px, 22px);
    opacity: 0.6;

  }
}

.submit {
  @extend %extend-font-medium;
  @extend %basic-input;
  @include size-font(16px, 22px);
  @extend %basic-animation;
  display: flex;
  align-self: flex-end;
  box-sizing: border-box;
  color: $color-secondary;
  width: 60px;
  margin: 0 0 0 20px;

  &:hover {
    opacity: 0.4;
    @extend %basic-animation;
  }
}

.container {
  display: flex;
  gap: 134px;
  margin: 55px auto 0 auto;
  width: calc(100% - 55px);
}

.links {
  gap: 16px;
  @extend %column-flex;
}

.link {
  @extend %link-decoration;
  @extend %basic-animation;
  @extend %extend-font-regular;
  @include size-font(16px, 22px);

  &:visited {
    color: $color-secondary;
  }

  &:hover {
    opacity: 0.6;
    @extend %basic-animation;
  }
}

.linkBold {
  @extend %extend-font-medium;
  @include size-font(18px, 24px);
}
