@import "../../../styles/index";

.burgerMenu {
  @extend %column-flex;
  position: relative;
  justify-content: space-between;
}

.burgerButton {
  @extend %button-basic;
  @extend %basic-animation;
  display: flex;
  justify-content: space-between;
  margin: auto 15px 10px 0;

  &:hover {
    @extend %basic-animation;
    opacity: 0.6;
  }
}

.menu {
  @extend %column-flex;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: #fff;
  padding: 16px 0 0 0;
}

.imageMenu {
  display: flex;
  margin: 47px 15px 0 0;
}

.link {
  @extend %extend-font-regular;
  @include size-font(16px, 22px);
  @extend %link-decoration;
  color: $color-primary;
  padding: 16px;
  border-bottom: 1px solid rgba(192, 71, 40, 0.3);

  &:visited {
    color: $color-primary;
  }

  &:hover {
    opacity: 0.6;
  }

  &:link {
    color: $color-primary;
  }
}
